.table-image {
    width: 500px;
    height: 500px;
}

.full-banner {
    width: 100%;
}

body {
    background: #000 url(/img/background.jpg) repeat center center;
}

#page {
    background: url(/img/background.jpg) repeat center top;
}

.nav-item-label {
    margin-left: 5px;
}
